<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./public/stylesheets/index.css">
  </head>
  <body>
    <form action="/mismates/new" method="post">
      <label for="scan">Scan</label>
      <input type="text" id="scan" name="scan">
      <label for="side">Which side foot?</label>
      <div id="side">
        <label for="left">Left</label>
        <input type="radio" id="left" name="side" value="left" checked>
        <label for="right">Right</label>
        <input type="radio" id="right" name="side" value="right">
      </div>
      <label for="has-box">Has matching box?</label>
      <input type="checkbox" id="has-box" name="hasBox">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>