@import "./variables";

nav {
    display: flex;
    background-color: black;
    height: 5vh;
    padding: 1em;
}

#nav-menu {
    display: none;
}

#menu-toggle:checked ~ #nav-menu {
    background-color: white;
    display: flex;
    position: absolute;
    left: 0;
    top: 5vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;

    a {
        padding: 1em;
        text-align: center;
        color: black;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid $border-color;
    }
}

@media only screen and (min-width: $min-viewport) {
    #nav-menu {
        display: contents;
    }

    #menu-toggle {
        display: none;
    }

    #nav-menu a {
        display: inline-block;
        color: white;
        font-weight: normal;
        border-style: none;
        align-self: center;
    }
}