@import "./variables";

nav {
    display: flex;
    background-color: black;
    height: 5vh;
    width: 100%;
    padding: 1em;
}

#menu-toggle {
    visibility: hidden;
}

#nav-menu {
    display: none;
}

#menu-button-container {
    display: flex;
    height: 100%;
    width: 27px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-button,
#menu-button::before,
#menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 27px;
}

#menu-button::before {
    content: '';
    margin-top: -9px;
}
  
#menu-button::after {
    content: '';
    margin-top: 9px;
}

#menu-toggle:checked ~ #nav-menu {
    background-color: white;
    display: flex;
    position: absolute;
    left: 0;
    top: 5vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;

    a {
        padding: 1em;
        text-align: center;
        color: black;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid $border-color;
    }
}

#menu-toggle:checked + label #menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + label #menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
#menu-toggle:checked + label #menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media only screen and (min-width: $min-viewport) {
    #nav-menu {
        display: contents;
    }

    #menu-button-container {
        display: none;
    }

    #nav-menu a {
        display: inline-block;
        color: white;
        font-weight: normal;
        border-style: none;
        align-self: center;
    }
}