@import "./variables";

nav {
    display: flex;
    background-color: black;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle {
    visibility: hidden;
}

#nav-menu {
    display: none;
}

#menu-button-container {
    display: flex;
    height: 100%;
    width: 27px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-button,
#menu-button::before,
#menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 27px;
}

#menu-button::before {
    content: '';
    margin-top: -9px;
}
  
#menu-button::after {
    content: '';
    margin-top: 9px;
}

#menu-toggle:checked ~ #nav-menu {
    background-color: white;
    display: flex;
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    a {
        text-align: center;
        width: 100%;
        padding: 1em;
        color: black;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid $border-color;
    }

    a:hover {
        background-color: rgb(218, 218, 218);
    }
}

#menu-toggle:checked + label #menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked + label #menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
#menu-toggle:checked + label #menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

@media only screen and (min-width: $min-viewport) {
    nav {
        justify-content: flex-start;
    }

    #nav-menu {
        display: contents;
    }

    #menu-button-container {
        display: none;
    }

    #nav-menu a {
        display: flex;
        align-items: center;
        font-family: Calibri;
        text-decoration: none;
        color: white;
        font-weight: normal;
        border-style: none;
        height: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    #nav-menu a:hover {
        background-color: grey;
    }
}